Terraform/Azure/.terraform.lock.hcl
Terraform/Azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.15.1/darwin_arm64/terraform-provider-azurerm_v3.15.1_x5
Terraform/Azure/terraform.tfstate
Terraform/Azure/.terraform.tfstate.lock.info
